.seats_container {
    display: grid;
    grid-template-columns: repeat(15, auto); /* 15 ghế/ô mỗi hàng */
    gap: 10px;
}

.seat-wrapper {
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0px 5px 0px;
    width: 40px;
    cursor: pointer;
    text {
        font-size: 18px;
        font-weight: 500;
        margin: 0;
        color: white;
    }
}

.seat-aisle {
    background-color: white;
}

.seat-selected {
  background-color: white !important;
  border: 1px solid rgb(9, 9, 183);
}

.seats-info-container {
    margin-top: 50px;
    width: 100%;
    max-height: 300px;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 50px 50px 0 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.2);
}

.empty-seat-container {
    display: flex;
    margin: 50px;
    justify-content: space-between;
}

.empty-seat-text {
    font-size: 25px;
    font-weight: 600;
    color: rgb(212, 212, 212);
    width: 400px;;
}

.continue-button {
    width: fit-content;
    color: white;
    font-size: 25px;
    font-weight: 700;
    padding: 25px 45px 25px 45px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.disable-continue-button {
    background-color: rgb(205, 205, 205);
}

.enabled-continue-button {
    background-color: blue;
}