.main-container {
    background-color: rgb(255, 255, 255);
}

.movie-info {
    font-size: 23px;
    padding: 50px;
}

.cinema {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.movie-text-1 {
    font-weight: 650;
    color: gray;
}

.movie-text-2 {
    font-weight: 700;
}

.time-n-room {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.screen {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}
