.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.grid {
  display: grid;
}

.d-inline-grid {
  display: inline-grid;
}

.d-none {
  display: none;
}

.justify-start {
  justify-content: flex-start; 
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end; 
}

.justify-between {
  justify-content: space-between; 
}

.justify-around {
  justify-content: space-around; 
}

.justify-evenly {
  justify-content: space-evenly; 
}

.align-start {
  align-items: flex-start; 
}

.align-center {
  align-items: center; 
}

.align-end {
  align-items: flex-end; 
}

.flex-wrap {
  flex-wrap: wrap;
}
