img {
    border-radius: 15px;
}

img.full-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.object-bottom {
    object-position: bottom;
}

.object-top {
    object-position: top;
}