/* Light theme (default) */
:root {
  --color-bg: #ffffff;
  --color-text: #111111;

  --color-primary: #4f46e5;
  --color-secondary: #6366f1;
  --color-accent: #f59e0b;

  --color-border: #e5e7eb;
  --color-muted: #9ca3af;

  --color-bg-transparent: rgb(255, 255, 255 );
  --color-button-hover: rgb(231, 221, 221) ; 

  --color-header-scroll: oklch(70.5% 0.015 286.067);

}

/* Dark theme */
[data-theme="dark"] {
  --color-bg: #black;
  --color-text: rgba(255, 255, 255, 0.87);
  
  --color-primary: #818cf8;
  --color-secondary: #a5b4fc;
  --color-accent: #fbbf24;

  --color-border: #374151;
  --color-muted: #6b7280;

  --color-bg-transparent: rgba(0, 0, 0, 0);
  --color-button-hover: white;

  --color-header-scroll: oklch(21% 0.006 285.885);
}
