@import "tailwindcss";

h1 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.sub-title {
  font-family: "Manufacturing Consent", system-ui;
  font-weight: 400;
  font-style: normal;
}