@import "tailwindcss";

h1 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.sub-title {
  font-family: "Manufacturing Consent", system-ui;
  font-weight: 400;
  font-style: normal;
}

.bg-header-scrolled {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
            0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: var(--color-header-scroll);
}

.bg-heder-not-scroll {
  background-color: transparent;
  color: white;
}
