:root {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;    
}

.primary-button {
  background: linear-gradient(to right, #874675, #5a0256);
  padding: 10px 18px 10px 18px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 13px;  
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

.absolute-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

.font-1 {
  font-family: "Archivo Black", sans-serif;
  font-style: normal;
}

.font-2{
  font-family: "Manufacturing Consent", system-ui;
  font-style: normal;
}

.font-3 {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}