.time-card {
    background-color: white;
    border-radius: 10px;
    padding: 15px 70px 15px 30px;
    width: 200px;
}

.selected {
    border: 3px solid #3556d8;
}

.time_start_text {
    font-size: 20px;
    font-weight: 600;
    color: rgb(109, 109, 109);
}

.hour_n_minute_text {
    font-size: 25px;
    font-weight: 600;
}

