.filter-header {
    display: flex;
    align-items: center;
    text {
        font-size: 25px;
        font-weight: 600;
    }
    padding: 20px 20px 20px 30px;
}

.filter-body {
    background-color: rgb(240, 240, 240);
    height: 85vh;
}

.filter-body-items{
    padding: 10px 30px 10px 30px;
}

.filter-title-text {
    font-weight: 700;
    font-size: 25px;
}

.time-card-holder {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    margin: 20px auto;
}

.max_price {
    display: block;
    font-weight: 500;
    font-size: 25px;
    text {
        color: #3556d8;
    }
}

.slider {
    background-color: white;
    border-radius: 10px;
    padding: 30px 10px 30px 10px;
}

.filter-transport-card {
    background-color: white;
    border-radius: 10px;
    padding: 30px 10px 30px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.filter-transport-card-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(212, 212, 212);
    padding-bottom: 10px;
}

.filter-transport-item-name {
    display: flex;
    align-items: center;
    column-gap: 10px;
    text {
        font-size: 25px;
        font-weight: 600;
    }
}

.select {
    width: 30px;
}

.filter-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    column-gap: 50px;
    background-color: rgb(240, 240, 240);
}

.clear_filter {
    width: 300px;
    padding: 10px 0 10px 0;
    font-weight: 700;
    font-size: 25px;
    background-color: rgb(214, 214, 214);
}

.apply_button {
    width: 300px;
    padding: 10px 0 10px 0;
    font-weight: 700;
    font-size: 25px;
    background-color: #3556d8;
    color: white;
}

.rc-slider {
  height: 12px; /* tăng chiều cao tổng thể */
  margin-top: 20px;
}

.rc-slider-rail {
  background-color: #e0e0e0; /* màu nền của rail */
  height: 12px;
  border-radius: 6px; /* bo góc */
}

.rc-slider-track {
  background-color: #3556d8; /* màu đoạn được chọn */
  height: 12px;
  border-radius: 6px;
}

.rc-slider-handle {
  border: none;
  width: 28px; /* tăng kích thước nút */
  height: 28px;
  background-color: #0026be;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  margin-top: -8px; /* căn giữa nút với thanh */
  border-radius: 50%;
  cursor: grab;
  transition: transform 0.15s ease;
}

.rc-slider-handle:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  transform: scale(1.1); /* hiệu ứng phóng nhẹ khi kéo */
}

.slider-card {
    background-color: white;
    padding: 10px 50px 40px 50px;
    margin-top: 20px;
    border-radius: 12px;
}