.film-content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    view {
        display: flex;
        justify-content: space-between;
        font-size: 28px;
    }
}

.description {
    font-weight: 500;
    color: rgb(159, 159, 159);
}

.details {
    font-weight: 700;
}